<header>
  <h1>Campamentos Urbanos</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Campamentos Urbanos</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <h6>Campamentos Urbanos DECALLE:</h6>
        <p>¿QUÉ ES UN CAMPAMENTO URBANO DECALLE ?</p>
        <p>¿Quieres conocer tu ciudad de una manera diferente? Un Campamento Urbano DECALLE es exactamente lo mismo que unas colonias o campamentos de verano, pero en tu misma ciudad, utilizando los recursos propios del ámbito donde se desarrolle. Actividades dentro y fuera de los espacios comunes, Actividades Deportivas, de Calle, Gymkanas, Actividades Acuáticas, Juegos en las plazas, interactuación con la gente de a pié, juegos nocturnos… Una manera de dar vida a tu municipio o zona residencial en verano.</p>
        <p>¿Quieres conocer más sobre nuestro proyecto DECALLE?</p>
        <p>Ponte en contacto con nosotros a través del correo info@12palmas.com o en los teléfonos 661937108 // 658407665 y te explicaremos en qué consiste el Campamento Urbano DECALLE, concertando una cita donde os explicaremos mas pausadamente el proyecto.</p>
        <h6>Campamentos Urbanos DECOLE:</h6>
        <p>¿QUÉ ES UN CAMPAMENTO URBANO DECOLE ?</p>
        <p>Un Campamento Urbano DECOLE es un conjunto de actividades lúdico-educativas realizadas en las instalaciones del Centro Educativo en las épocas vacacionales del curso escolar destinadas a los alumnos de Infantil y Primaria en las que se comparten juegos, talleres, apoyo al estudio fomentando la creatividad y la autoestima personal creando al mismo tiempo una escala de valores adecuada.</p>
        <p>Si quieres que nuestros Campamentos Urbanos DECOLE estén en tu colegio solo tienes que ponerte en contacto con el A.M.P.A. O el grupo de dirección del centro y comentarles que pueden incluirse en la lista de centros con Campamentos Urbanos DECOLE de 12PALMAS dirigiéndose a nuestro correo o teléfono. Si eres parte del A.M.P.A. O Dirección puedes ponerte en contacto con nosotros directamente en el correo info@12palmas.com o teléfonos 661937108 // 658407665 y te explicaremos en qué consiste el Campamento Urbano DECOLE, concertando una cita donde os explicaremos mas pausadamente el proyecto.</p>
      </article>
    </div>
  </section>
</div>
