<header>
  <h1>Mesas Dulces y Fuentes de Chocolate</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Mesas Dulces y Fuentes de Chocolate</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <strong>¿HAY ALGO MEJOR EN UN EVENTO QUE DARLE UN TOQUE DULCE?</strong>
        <p>Las mesas dulces es algo que está de moda y las encontramos en casi cualquier tipo de evento, pero realmente o son excesivamente caras o no tienen la suficiente calidad. En 12PALMAS trabajamos siempre con unos precios reales y adaptados a todos los bolsillos. Tú decides el coste de tu mesa dulce y nosotros la planteamos y la creamos.</p>
        <p>En nuestros catálogos disponemos de gran numero de diferentes tipos de decoraciones en mesas dulces, con miles de detalles en ellas que marcan la diferencia.</p>
        <p>Añádele a tú mesa Dulce una Fuente de Chocolate, para bañar tus dulces o frutas en el más rico chocolate y dale el color que más te guste.</p>
        <p>Bautizos, Comuniones, Bodas, Cumpleaños, Fiestas Familiares…</p>
        <p>¿Te ofrecemos presupuesto?</p>
      </article>
    </div>
  </section>
</div>
