<header>
  <h1>Fotografía</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Fotografía</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Trabajamos con profesionales de la imagen que logran captar los momentos más mágicos y emotivos.</p>
        <p>Servicios:</p>
        <li>Reportaje Fotos</li>
        <li>Reportaje Fotos+Álbum</li>
        <li>Reportaje Post-Boda</li>
        <li>Photocall</li>
        <li>Mini Álbumes para padres</li>
        <li>Libro de Firmas</li>
      </article>
    </div>
  </section>
</div>
