<header class="animated fadeInDown" id="navbar">

<!-- Hero -->

  <section class="et-hero-tabs">
  <div  class="et-hero-tabs-container">
    <a class="et-hero-tab" routerLink="/">Inicio</a>
    <a class="et-hero-tab" href="#empresa">La empresa</a>
    <a class="et-hero-tab" routerLink="/flamenco">Flamenco</a>
    <a class="et-hero-tab" routerLink="/servicio">Servicios</a>
    <a class="et-hero-tab" routerLink="/convenio">Convenio Martoscrece</a>
    <a class="et-hero-tab" routerLink="/contacto">Contacto</a>
    <a routerLink="/"><img src="../../../assets/logo-12-palmas.png" height="80" width="100"/></a>
    <span class="et-hero-tab-slider"></span>
  </div>
</section>

</header>
