<!DOCTYPE html>
<html lang="en">
<head>
  <title>12palmas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<section>
  <ul class="masonry-list">

    <li class="tile-facebook">
      <a routerLink="/temporada">
        <div class="tile-primary-content">
          <h2>Animaciones</h2>
          <p>TEMPORADA DE COMUNIONES 2018</p>
        </div>
        <div class="tile-secondary-content">
          <p>¡¡Tu Gran Fiesta!!…</p>
        </div>
      </a>
    </li>


    <li class="tile-job">
      <a routerLink="/infantiles">
        <div class="tile-primary-content">
          <h2>Animaciones Infantiles</h2>
          <p>TODO UN MUNDO LLENO DE ILUSIÓN, DIVERSIÓN Y EDUCACIÓN PARA LOS MÁS PEQUEÑOS… Y PARA LOS PAPÁS</p>
        </div>
        <div class="tile-secondary-content">
          <p>animamos tu fiesta para que se convierta en ¡¡Tu Gran Fiesta!!…</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/espectaculos">
        <div class="tile-primary-content">
          <h2>Animaciones-Espectáculos</h2>
          <p>la animación es algo que llega a cualquier edad, a cualquier lugar o institución</p>
        </div>
        <div class="tile-secondary-content">
          <p>12PALMAS</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/ocio_social">
        <div class="tile-primary-content">
          <h2>Ocio social</h2>
          <p>En 12PALMAS estamos comprometidos con el mundo social.</p>
        </div>
        <div class="tile-secondary-content">
          <p>Ocio social</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/castillo">
        <div class="tile-primary-content">
          <h2>Castillos Hinchables</h2>
          <p>Si quieres que tu Celebración, Feria, Evento tenga algo más que Animación esta es tu sección.</p>
        </div>
        <div class="tile-secondary-content">
          <p>Castillos Hinchables</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/camp">
        <div class="tile-primary-content">
          <h2>Campamentos Urbanos</h2>
          <p>¿Quieres conocer tu ciudad de una manera diferente?</p>
        </div>
        <div class="tile-secondary-content">
          <p>Campamentos Urbanos</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/musica">
        <div class="tile-primary-content">
          <h2>Música Directo</h2>
          <p>Música en directo para todos los gustos y colores</p>
        </div>
        <div class="tile-secondary-content">
          <p>Música Directo</p>
        </div>
      </a>
    </li>


    <li class="tile-job">
      <a routerLink="/espuctaculo_flamenco">
        <div class="tile-primary-content">
          <h2>Espectáculo Flamenco-Ecuestre</h2>
          <p>MAGIA ANDALUZA</p>
        </div>
        <div class="tile-secondary-content">
          <p>Espectáculo Flamenco-Ecuestre</p>
        </div>
      </a>
    </li>

    <li class="tile-job">
      <a routerLink="/sonido">
        <div class="tile-primary-content">
          <h2>Equipos de sonido</h2>
          <p>Todo lo que necesites</p>
        </div>
        <div class="tile-secondary-content">
          <p>Equipos de sonido</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/decoracion">
        <div class="tile-primary-content">
          <h2>Decoración-Floristería</h2>
          <p>¿Nos cuentas tu idea? ¿Te Aconsejamos?</p>
        </div>
        <div class="tile-secondary-content">
          <p>Decoración-Floristería</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/coches_de_caballos">
        <div class="tile-primary-content">
          <h2>Coches de Caballos</h2>
          <p>Paseo en carruaje tirado por fabulosos caballos de pura raza española</p>
        </div>
        <div class="tile-secondary-content">
          <p>Coches de Caballos</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/clases_baile">
        <div class="tile-primary-content">
          <h2>Clases Baile Nupcial</h2>
          <p>salsa, salón, flamenco, Rock&Roll, funky, tango, popurrí de estilos</p>
        </div>
        <div class="tile-secondary-content">
          <p>Clases Baile Nupcial</p>
        </div>
      </a>
    </li>

    <li class="tile-job">
      <a routerLink="/coches">
        <div class="tile-primary-content">
          <h2>Coches Clásicos</h2>
          <p>coches clásicos</p>
        </div>
        <div class="tile-secondary-content">
          <p>Coches Clásicos</p>
        </div>
      </a>
    </li>


    <li class="tile-job">
      <a routerLink="/despedidas">
        <div class="tile-primary-content">
          <h2>Despedidas de Solter@</h2>
          <p>Prepárate para pasar hasta dos horas de risas, juegos picantes, bailes</p>
        </div>
        <div class="tile-secondary-content">
          <p>Despedidas de Solter@</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/fotografia">
        <div class="tile-primary-content">
          <h2>Fotografía</h2>
          <p>profesionales de la imagen</p>
        </div>
        <div class="tile-secondary-content">
          <p>Fotografía</p>
        </div>
      </a>
    </li>


    <li class="tile-twitter">
      <a routerLink="/diseno_tarjetas">
        <div class="tile-primary-content">
          <h2>Diseño Tarjetas Personalizadas</h2>
          <p>tarjetas de invitación de carácter personal</p>
        </div>
        <div class="tile-secondary-content">
          <p>Diseño Tarjetas Personalizadas</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/djs">
        <div class="tile-primary-content">
          <h2>Dj’s</h2>
          <p>Una buena elección de temas musicales es garantía de éxito el evento</p>
        </div>
        <div class="tile-secondary-content">
          <p>Dj’s</p>
        </div>
      </a>
    </li>

    <li class="tile-twitter">
      <a routerLink="/video">
        <div class="tile-primary-content">
          <h2>Video</h2>
          <p>captar los momentos más mágicos y emotivos</p>
        </div>
        <div class="tile-secondary-content">
          <p>Video</p>
        </div>
      </a>
    </li>

    <li class="tile-job">
      <a routerLink="/decoracion_globos">
        <div class="tile-primary-content">
          <h2>Decoración con Globos</h2>
          <p>¿Quieres darle un toque personal y original?</p>
        </div>
        <div class="tile-secondary-content">
          <p>Decoración con Globos</p>
        </div>
      </a>
    </li>


    <li class="tile-job">
      <a routerLink="/photocall">
        <div class="tile-primary-content">
          <h2>Photocall</h2>
          <p>Motivos divertidos, gorros, sombreros, bigotes, gafas, pizarras, bocadillos, serpentín</p>
        </div>
        <div class="tile-secondary-content">
          <p>Photocall</p>
        </div>
      </a>
    </li>

    <li class="tile-facebook">
      <a routerLink="/mesas_dulces">
        <div class="tile-primary-content">
          <h2>Mesas Dulces y Fuentes de Chocolate</h2>
          <p>gran numero de diferentes tipos de decoraciones en mesas dulces</p>
        </div>
        <div class="tile-secondary-content">
          <p>Mesas Dulces y Fuentes de Chocolate</p>
        </div>
      </a>
    </li>
  </ul>
</section>
</body>
</html>
