<header>
  <h1>Clases Baile Nupcial</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Clases Baile Nupcial</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Os enseñamos una coreografía para que deslumbréis a vuestros invitados. ¿El estilo? Lo eliges tú, nuestros profesionales de la enseñanza en todos los tipos de danza (salsa, salón, flamenco, Rock&Roll, funky, tango, popurrí de estilos…). Os preparamos la música y la montamos en un estudio de grabación en caso de ser un popurrí de estilos.</p>
        <p>¿Te atreves con un Flashmob en tu boda con tus amigos? o… ¡¡Sorpresa!!</p>
      </article>
    </div>
  </section>
</div>
