<header>
  <h1>Ocio social</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Ocio social</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>En 12PALMAS estamos comprometidos con el mundo social. Trabajamos, creamos proyectos y los desarrollamos en diversas instituciones públicas o privadas, siempre en beneficio del usuario, potenciando su calidad de vida y su desarrollo personal.</p>
        <p>Programa de Ocio para Discapacitados:</p>
        <p>El programa de Ocio de 12PALMAS consiste en la relación interpersonal y de amistad con los compañeros usuarios del programa, con los educadores-animadores y con el entorno social, trabajando habilidades sociales de la vida diaria. Las salidas semanales refuerzan y desarrollan su aprendizaje poniéndolo en práctica directa con la vivencia de la actividad.</p>
      </article>
    </div>
  </section>
</div>
