<header>
  <h1>Castillos Hinchables</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Castillos Hinchables</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Si quieres que tu Fiesta, Celebración, Feria, Evento tenga algo más que Animación esta es tu sección.</p>
        <p>Disponemos de una gran variedad de Castillos Hinchables para impresionar a los más pequeños y que no paren de dar saltos.</p>
        <p>¡¡ La Diversión está garantizada!!…</p>
        <p>…y si aún quieres más infórmate para que un Animador realice diversos juegos y dinámicas empleando el Castillo como parte del juego.</p>
        <p>¡¡Diversión Doble!!</p>
      </article>
    </div>
  </section>
</div>
