<header>
  <h1>Dj’s</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Dj’s</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Una buena elección de temas musicales es garantía de éxito en cualquier fiesta o evento. Una elección correcta de música que caracterice a cada parte o espacio lo convertirá en un entorno más emotivo y con mayor sentido. Nuestros DJ’s son profesionales experimentados conocedores de cualquier tipo de ambientes.</p>
        <p>¿Te dejas aconsejar? Un Dj’s no puede faltar en tu Evento</p>
      </article>
    </div>
  </section>
</div>
