<header>
  <h1>Animaciones Infantiles </h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Animaciones Infantiles </h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Animaciones Infantiles, Animación de Calle, Taller de Pompas de Jabón con Plataformas Gigantes (Exclusivo 12PALMAS), Cuentacuentos, Taller de Camisetas, Taller de Danza del Vientre y Aerobic, Minidisco, Globofléxia, Pintacaras, Manualidades, Canciones, Superpiñatas, Juegos Tradicionales, Juegos Deportivos, Juegos con Paracaídas, Juegos Gigantes, Juegos con Castillos Hinchables, Magia, Gymkanas y Búsquedas del Tesoro, Talleres, Actividades Nocturnas, Actividades Acuáticas, Muñecos Cabezones (Mickey, Minnie, Elsa, Marshall de la patrulla canina…) Toro Mecánico, Circuito Hinchable de Cars… y todo lo que puedas imaginar.</p>
        <p>Decoramos el lugar de tu fiesta con globos, llevamos tu tarta personalizada, te preparamos un Photocall para inmortalizar tu Gran Fiesta de manera diferente, hacemos tu fiesta temática, coreografías con animador… en definitiva, animamos tu fiesta para que se convierta en ¡¡Tu Gran Fiesta!!…</p>
        <p>¿Y TODO ESTO COMO SE HACE?… solo tienes que ponerte en contacto con nosotros y contarnos tu idea, el resto es cosa nuestra.</p>
        <p>TODO UN MUNDO LLENO DE ILUSIÓN, DIVERSIÓN Y EDUCACIÓN PARA LOS MÁS PEQUEÑOS… Y PARA LOS PAPÁS</p>
      </article>
    </div>
  </section>
</div>
