<header>
  <h1>Escuela Flamenca Marteña</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Escuela Flamenca Marteña</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>La Escuela está situada en pleno casco histórico de la ciudad, apostando por lo añejo, por lo puro y por el marco donde se puede respirar experiencia y sabiduría. Impartimos disciplinas de Baile Flamenco, Percusión Flamenca, Iniciación a la Guitarra Flamenca, Cante Flamenco, Sevillanas para Adultos, Bailes Latinos y Danzas Orientales.</p>
        <p>Cabe destacar que las clases de Baile Flamenco van acompañadas de un guitarrista flamenco y que en las clases de percusión la Escuela te presta el instrumento si no lo tuvieras.</p>
        <p>Los docentes de la Escuela están en continua formación para ofrecer unas enseñanzas de calidad, y sobre todo, con unas bases de compás estables y una comprensión clara.</p>
        <p>Ofertamos diversas Master Class de Danza, Percusión y Guitarra durante todo el año.</p>
        <p>La Escuela es la organizadora del Festival Flamenco «Desde la Peña» de la ciudad de Martos (Jaén) que este año realizará su III Edición el 2 de julio de 2016 coincidiendo con el aniversario de la muerte de Camarón de la Isla. Además este curso (diciembre 2015) ha organizado la I Pascua Flamenca Solidaria en beneficio del proyecto «El Jardín de los Sueños» de la Asoc. ALES. donde participó el 90% del alumnado.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Wghm_oYvJVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

        </iframe>



      </article>
    </div>
  </section>
</div>
