<header>
  <h1>Música Directo</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Música Directo</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>En 12PALMAS tenemos música en directo para todos los gustos y colores y estamos preparados para darlo todo en el escenario.</p>
        <p>¿Quieres ver nuestros grupos y formaciones?</p>
        <strong>Para tu Celebración</strong>
        <li>Grupo Romero</li>
        <li>Coro Rociero</li>
        <li>Misa Flamenca</li>
        <li>Misa Romera</li>
        <li>Guitarrista Flamenco</li>
        <li>Piano</li>
        <li>Cuarteto de cuerda</li>
        <strong>Cocktail Bienvenida</strong>
        <li>Formaciones Flamencas</li>
        <li>Guitarra Solista (instrumental)</li>
        <li>Guitarra-Percusión (instrumental)</li>
        <li>Guitarra-Percusión y Baile (instrumental)</li>
        <li>Guitarra-Percusión-Cante-Baile</li>
        <li>Guitarra-Cante-Baile</li>
        <li>Guitarra-Percusión-Cante</li>
        <li>Guitarra-Cante</li>
        <li>FLAMENCO EN BLANCO Y NEGRO (Piano Flamenco, percusión y voz)</li>
        <li>Grupo Flamenco 12PALMAS (Rumbas, Sevillanas, Tangos…)</li>
        <li>Otros Estilos</li>
        <li>String & Brass (Violín y Tuba)</li>
        <li>Metalurgics Brass (Quinteto de metales)</li>
        <li>Saxofonista</li>
        <li>Trompetista</li>
        <li>Jazz-Blues</li>
        <li>Espectáculo Ecuestre MAGIA ANDALUZA</li>
        <strong>Fiesta / Baile</strong>
        <li>Grupo Flamenco 12PALMAS</li>
        <li>Duende Burlón (Málaga)</li>
        <li>Guille Muñoz trío (Sanlucar de Barrameda)</li>
        <li>Lincy Fernández trío (Cádiz)</li>
        <li>Gloria Bendita (Málaga)</li>
        <li>La Soul Funk (Jaén)</li>
        <li>Hit’s Project (Granada)</li>
        <li>Transistores (Versiones ’80 y ’90 en español)</li>
      </article>
    </div>
  </section>
</div>
