<header>
  <h1>Video</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Video</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Trabajamos con profesionales de la imagen que logran captar los momentos más mágicos y emotivos.</p>
        <p>Servicios:</p>
        <strong>DÍA DE VUESTRA BODA</strong>
        <li>Día de vuestra Boda en los preparativos, ceremonia, celebración, exteriores y baile nupcial.</li>
        <li>Segunda Cámara para no dejar escapar ningún detalle.</li>
        <strong>¿QUIERES MÁS?</strong>
        <li>Preboda o Postboda con carácter más desenfadado.</li>
        <li>Relata tu Historia de Amor para crear un documental de vuestro día.</li>
        <li>Save the Date para sorprender a tus familiares y amigos con una invitación original que podrás enviar por email, por las redes sociales o en unas cajitas que seguro te gustarán.</li>
      </article>
    </div>
  </section>
</div>
