<header>
  <h1>Despedidas de Solter@</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Despedidas de Solter@</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Despedidas de solter@ conjuntas o por separado. ¿Estás cansad@ del típico Boy o Girl? Te proponemos algo diferente. ¡¡¡El ANTIBOY!!! o ¡¡¡ANTIGIRL!!!
          Prepárate para pasar hasta dos horas de risas, juegos picantes, bailes…</p>
        <p>Además:</p>
        <li>Striper</li>
        <li>Drag Queen</li>
        <li>Enanos</li>
        <li>Toro o Pene Mecánico</li>
        <li>Dj´s</li>
        <p>¿¿¿Te Atreves a tener una despedida recordada por mucho tiempo???</p>
      </article>
    </div>
  </section>
</div>
