<header>
  <h1>Decoración con Globos</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Decoración con Globos</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Los Globos son una forma muy atractiva de decorar tu evento ¿Quieres darle un toque personal y original? ¿Dejar a todos los asistentes impresionados? Nuestros profesionales se encargarán de todo para conseguir crear un ambiente inédito y distinto.</p>
        <p>Altares, arcos de globos, centros de mesa para el banquete, columnas, decoración de las mesas infantiles, photocall con globos… lanza al cielo corazoncitos llenos de deseos.</p>
        <p>¿Quieres que tu evento sea diferente?</p>
      </article>
    </div>
  </section>
</div>
