<header>
  <h1>Kcom Percussion</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Kcom Percussion</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Kcom Percussion es un formato de cursos de iniciación al cajón flamenco innovador en calidad-precio y forma. Nos desplazamos a cualquier lugar y aportamos hasta 15 cajones «J.Leiva Percussion» para el buen desarrollo del curso sin coste añadido. En 12PALMAS trabajamos por y para la promoción del Flamenco y su desarrollo, motivando al participante a desarrollar la musicalidad que lleva dentro. Con todo esto pretendemos poner a disposición de cualquier persona la posibilidad de aprender o probar sin la necesidad de tener el instrumento para su iniciación, al mismo tiempo que promocionamos el flamenco en sí.</p>
        <p>Utilizamos una metodología dinámica y participativa «obligando» al participante a pensar para la percusión en todo tipo de ritmos y patrones dinámicos que luego desarrollará en el instrumento.</p>
        <p>En 12APALMAS tenemos claro que tú conoces tus necesidades y aqui no vamos a ser menos. La Modalidad de los cursos es totalmente adaptable a tus necesidades o posibilidades, en número de horas, días, meses o incluso curso anual. Infórmate de todas las posibilidades que tienes… ¡¡¡No tienes excusa para no aprender!!!</p>
        <p>Patrocinado por J.Leiva Percussion</p>

      </article>
    </div>
  </section>
</div>
