<header>
  <h1>Coches de Caballos</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Coches de Caballos</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Paseo en carruaje tirado por dos o cuatro fabulosos caballos de pura raza española con un gran nivel de doma para desfilar sin problemas ante el bullicio de coches y circunstancias inesperadas, con cochero y lacayos ataviados con sus correspondientes galas acorde con la guarnición de los caballos y los carruajes, ya sea a la inglesa o calesera.</p>
        <p>Atrévete a marcar la diferencia.</p>
      </article>
    </div>
  </section>
</div>
