<header>
  <h1>Animaciones-Espectáculos</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Animaciones-Espectáculos</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>En 12PALMAS tenemos claro que la Animación es algo que llega a cualquier edad, a cualquier lugar o institución, por eso este apartado está destinado a todo el mundo y a todo tipo de espectáculos, ferias, instituciones o actos.</p>
        <p>Nuestros servicios son los siguientes:</p>
        <ul>
          <li>Pasacalles Infantiles y temáticos</li>
          <li>Cuentacuentos</li>
          <li>Pesonajes para Ferias Medievales</li>
          <li>Cetrería</li>
          <li>Pasacalles Musicales</li>
          <li>Zancudos</li>
          <li>Escupefuegos</li>
          <li>Malabaristas</li>
          <li>Actores</li>
          <li>Anti-Boys</li>
          <li>Aeróbic con música en directo (Flamenco, Danza Africana, …)</li>
          <li>Cajonada Flamenca</li>
          <li>Batucada y jumper</li>
          <li>Pintacaras</li>
          <li>Animadores</li>
          <li>Payasos</li>
          <li>Bailarinas</li>
          <li>Caricaturistas</li>
        </ul>
      </article>
    </div>
  </section>
</div>
