<!DOCTYPE html>
<html lang="en">
<head>
  <title>12palmas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



</head>
<body>
<section  class="home-slider owl-carousel">
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-8 col-sm-12 text-center ftco-animate">
          <h1 class=" mb-4 mb-md-5">12palmas - empresa que realiza tus sueños</h1>
          <p><a routerLink="/servicio" class="btn btn-primary p-3 px-xl-4 py-xl-3">Servicios</a> <a href="#empresa" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Sobre la empresa</a></p>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- END nav -->


<section id="empresa" class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url('~assets/elflamenco1.jpg');"></div>
  <div class="one-half ftco-animate">
    <div class="overlap">
      <div class="heading-section ftco-animate ">
        <h2 class="mb-4 subheading">La empresa</h2>
      </div>
      <div>
        <p>12PALMAS es una empresa innovadora y emprendedora dedicada al Ocio y al Flamenco. Tras una trayectoria amplísima en el mundo del ocio, la animación y la música nace el proyecto 12PALMAS, con la intención de unificar en un solo nombre todos los servicios que ofertamos, conviertiéndonos de este modo en una empresa multiservicios.</p>
      </div>
    </div>
  </div>
</section>


<div  class="video">
  <iframe width="660" height="415" src="https://www.youtube.com/embed/Wghm_oYvJVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<section class="ftco-section ftco-services ">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-choices"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">OCIO-CULTURA</h3>
            <p>Nuestra implicación y compromiso con el mundo social nos ha llevado a mezclar y llevar a cualquier persona y/o ámbito el desarrollo de nuestras actividades, enmarcándolas en un entorno educativo, de ocio y/o musical con la intención de aumentar la capacidad del participante, creando además diversos proyectos educativos y de ocio para centros escolares.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-delivery-truck"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">FLAMENCO</h3>
            <p>Un apartado que nos identifica especializándonos en este Arte, siendo además Patrimonio Cultural Inmaterial de la Humanidad proclamado por la UNESCO en 2010. Nuestra oferta va desde músicos a formaciones musicales y baile flamenco, pasando por cursos formativos o Master Class. Parte importante de esta sección es la Escuela Flamenca que 12PALMAS inauguró en Martos (Jaén) en 2012 donde se imparten diversas disciplinas de música y baile. En definitiva tratamos de acercar el flamenco a cualquier tipo de público, su enseñanza y promoción.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="flaticon-coffee-bean"></span></div>
          <div class="media-body">
            <h3 class="heading">WEDDING PLANNER</h3>
            <p>Este apartado nace debido a la demanda de nuestros servicios en este tipo de eventos. Ampliamos nuestro catálogo con profesionales del sector para que tú te despreocupes. Nosotros nos ocupamos de la organización y coordinación de todo, ahorrándote tu tiempo y tú dinero, pero sin perder tu identidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
