.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0; }
.owl-carousel.home-slider .slider-item {
  background: url("~assets/Foto-cartel-alzheimer-2014.jpg") no-repeat center center;
  background-size: cover;
  height: 750px;
  position: relative;
  z-index: 110;
overflow-x: hidden}
@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important; } }
.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .3; }
.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: 750px;
  text-align: right; }
@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .order-md-last {
    text-align: left !important; } }
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center; } }
.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: #c49b63; }
.owl-carousel.home-slider .slider-item .slider-text h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 1px; }
.owl-carousel.home-slider .slider-item .slider-text h1 strong {
  color: #fff;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 50px; }
@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 30px; } }
.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: white; }
.owl-carousel.home-slider .slider-item .slider-text p.sub-p {
  font-weight: 400; }
.owl-carousel.home-slider .slider-item .slider-text p strong {
  font-weight: 700; }
.owl-carousel.home-slider .slider-item .slider-text p strong a {
  color: #fff; }
.owl-carousel.home-slider .slider-item .slider-text .unstyled-list {
  width: 50%;
  padding: 0; }
.owl-carousel.home-slider .slider-item .slider-text .unstyled-list li {
  list-style: none; }
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px; }
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
  color: #fff; }
.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #fff; }
.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  opacity: 1; }
.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px; }
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px; }
.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center; }
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px; } }
.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 18px !important;
  height: 18px !important;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  display: inline-block; }
.owl-carousel.home-slider .owl-dots .owl-dot span {
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50% !important;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white; }
.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white; }
.btn {
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px; }
.btn:hover, .btn:active, .btn:focus {
  outline: none; }
.btn.btn-primary {
  background: #c49b63;
  border: 1px solid #c49b63;
  color: #000; }
.btn.btn-primary:hover {
  border: 1px solid #c49b63;
  background: transparent;
  color: #c49b63; }
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #c49b63;
  background: transparent;
  color: #c49b63; }
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #c49b63;
  color: #fff; }
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000; }
.btn.btn-white:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff; }
.btn.btn-white.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.8);
  background: none;
  border-width: 1px;
  color: #fff; }
.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
  background: #c49b63;
  border-color: #c49b63;
  color: #000; }
.btn.btn-outline-black {
  border-color: black;
  background: none;
  border-width: 1px;
  color: #000; }
.btn.btn-outline-black:hover, .btn.btn-outline-black:focus, .btn.btn-outline-black:active {
  background: #000;
  border-color: #000;
  color: #fff; }
.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }
@media (min-width: 992px) {
  .ftco-intro {
    margin-top: -130px; } }

.ftco-intro .container-wrap {
  z-index: 2 !important;
  position: relative; }
.info{
  border: dashed white;
}
.ftco-intro .wrap {
  width: 100%; }
.ftco-intro .wrap .info {
  background: #000;
  padding: 30px; }
@media (min-width: 1200px) {
  .ftco-intro .wrap .info {
    width: calc(100% - 35%);
    padding: 2% 5% 2% 12%; } }
@media (max-width: 767.98px) {
  .ftco-intro .wrap .info {
    width: 100%; } }
.ftco-intro .wrap .info p {
  margin-bottom: 0; }
.ftco-intro .wrap .book {
  width: 35%;
  background: #c49b63; }
@media (max-width: 767.98px) {
  .ftco-intro .wrap .book {
    width: 100%; } }
.ftco-intro .wrap .book h3 {
  text-transform: uppercase; }
.ftco-intro .wrap h3 {
  font-size: 16px; }
.ftco-intro .wrap .text {
  width: calc(100% - 40px); }
.ftco-intro .wrap .icon {
  width: 40px; }

.ftco-intro .wrap .icon span {
  color: #c49b63;
  font-size: 20px; }

.ftco-intro .wrap .info {
  background: #000;
  padding: 30px;
}

element.style {
  background-image: url('~assets/2.jpg');
}
.ftco-about .one-half.img {
  display: block;
}

  .ftco-about .one-half {
    padding: 8% 13% 8% 5%;
    width: 50%;
  }
  .ftco-about .one-half {
    width: 100%;
    padding: 30px 15px;
  }
  .hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  div {
    display: block;
  }
  body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url('~assets/3.jpg') no-repeat fixed;
    background-size: cover;
  }
.ftco-about{
  color: white;
}
.d-flex{
  width: 25%;
  display: inline-block;
}
.overlap {
  margin-left: -150px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}
.ftco-services {
  background: rgba(0, 0, 0, 0.5);
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.col-md-4{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  color: #cccccc;
}
.video{
  margin: 15px;
  display: inline-block;

}
