<header>
  <h1>TEMPORADA DE COMUNIONES 2018</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>TEMPORADA DE COMUNIONES 2018</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>En 12PALMAS estamos preparados para animar a los más pequeños en uno de los días más importantes de sus vidas, «La Primera Comunión». Nuestro amplio catálogo de actividades es una garantía para hacer disfrutar a todo tipo de niños, ganándonos la confianza de los padres al ser máxima nuestra atención hacia ellos, implicándonos para conseguir el éxito en nuestra Animación sea cual sea el perfil del evento.</p>
      <strong>¿Cómo son nuestras Animaciones?</strong>
        <p>Poniendo como prioridad la atención y la implicación con los participantes para que la diversión esté garantizada, adaptamos nuestras animaciones al perfil de los pequeños. Trabajamos y adaptamos nuestras actividades a niños con discapacidad psíquica y física. Por todo esto nuestros animadores cubren un total de 10 niños cada uno para un correcto desarrollo de la animación. Nuestras Animaciones están totalmente coordinadas con la familia para un perfecto y coherente desarrollo.</p>
        <p>Pídenos presupuesto sin compromiso y no dejes de visitar el apartado «ANIMACIONES INFANTILES»  para ver nuestro catálogo de actividades.</p>
        <p>Si tienes dudas déjate aconsejar por nuestros profesionales de la Animación.</p>
        <strong>¡¡ HACEMOS REALIDAD LOS SUEÑOS DE LOS NIÑOS… Y DE LOS NO TAN NIÑOS!!</strong>
      </article>
    </div>
  </section>
</div>
