<header>
  <h1>Espectáculo Flamenco-Ecuestre</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Espectáculo Flamenco-Ecuestre</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <h6>ESPECIAL FORMATO REDUCIDO PARA BODAS Y EVENTOS.</h6>
        <p>El Espectáculo Flamenco-Ecuestre MAGIA ANDALUZA se forma en 2006 y durante este tiempo ha mostrado su trabajo por las provincias andaluzas. Los sones Flamencos y Árabes se unen a los aires de la Alta Escuela Ecuestre encajando a la perfección y creando coreografías en toda regla.     </p>
      <p>En el Espectáculo Flamenco-Ecuestre caballo y bailaora se funden, dando vida a vistosas y bellas figuras en lo que a danza se refiere, y todo ello acompañado con la música en directo de los músicos de 12PALMAS.</p>
        <p>El Espectáculo MAGIA ANDALUZA deleitará al espectador con la Doma de Alta Escuela, Doma a la Vaquera, Desfile de Enganches a la calesera, Coches Maratón a la Inglesa, Caballos de ensueño, Desfile de Trajes de Flamencas, Baile Flamenco, Danza Árabe, Música Instrumental, Cante Flamenco, Música Árabe, Espectacularidad en luz y sonido… todo esto en un mismo Espectáculo.</p>
        <p>Además podemos ofrecerte nuestros formatos reducidos de este Espectáculo sin perder su identidad.</p>
      </article>
    </div>
  </section>
</div>
