<header>
<h1>Flamenco en blanco & negro</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Flamenco en blanco & negro</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Flamenco en blanco & negro es una formación en formato trío cuya base es el piano flamenco. Versionamos diferentes temas de toda clase de estilos musicales llevándolos a nuestro terreno, el flamenco: Boleros, temas rock, tangos argentinos, pop español, flamenco…
          Este formato es ideal para Congresos y cenas de empresa, Cóckteles, Fiestas privadas… dando el toque perfecto con la elegancia del piano flamenco y la ausencia de guitarra.
          Flamenco en blanco & negro está compuesto por músicos experimentados en el panorama musical por lo que el éxito está asegurado en cada una de sus actuaciones.
        </p>
        <p>
          <ul>
        <h5>         Si quieres contratarnos puedes ponerte en contacto con nosotros a través de:</h5>
        <li>
          Tlf y whastapp 661937108
        </li>
        <li>
          Tlf y whastapp 661937108
        </li>
        <li>
          Tlf y whastapp 661937108
        </li>
        <li>
          Email: info@12palmas.com
        </li>
        <li>
          Página oficial de Facebook/flamencoenblancoynegro
        </li>
        <li>
          a través de esta web
        </li>
      </ul>





   <p>
          Flamenco en blanco & negro.

        </p>
      </article>
    </div>
  </section>
</div>
