<header>
  <h1>Master Class</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Master Class</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Una Master Class es una clase magistral, un taller o un seminario dictado por expertos en un área o una materia.</p>
<p>Las Master Class organizadas por 12PALMAS ofrecen un espacio donde profesores y alumnos interactúan a través de la enseñanza de Danza o Música.</p>
      </article>
    </div>
  </section>
</div>
