<header>
  <h1>Photocall</h1>
</header>

<div class="wrap">
  <section class="home-section">
    <div class="home-background">
      <h2>Photocall</h2>
    </div>
    <div class="home-excerpt">
      <article>
        <p>Una de las cosas que no pueden faltar en tu Boda o Evento es el Photocall de carácter divertido y desenfadado que dejará inolvidables recuerdos en forma de fotografía y el recuerdo para el resto de tu vida.</p>
        <p>Motivos divertidos, gorros, sombreros, bigotes, gafas, pizarras, bocadillos, serpentín… una gran variedad para plasmar lo que quieras y como quieras en el Photocall.</p>
      </article>
    </div>
  </section>
</div>
